@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;700&display=swap');

html, 
body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr;

    height: 100vh;
    background-color: rgb(25, 27, 37);

    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', 'Merriweather', serif;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
}

p, span, li {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

button {
    all: unset;
    cursor: pointer;
    
}

.page-header {
    color: white;

    display: grid;
    grid-template-columns: 1.1fr 4fr 2fr 0.1fr;
    align-items: center;
    gap: 30px;

    padding: 0 30px;
    min-width: 1000px;
}

.page-header > :nth-child(3) {
    justify-self: end;
    margin-right: 40px;

    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #b08d57;
    transition: color 0.3s, text-decoration-clor 0.3s;
}

.page-header > :nth-child(3):hover {
    color: #b08d57;
    text-decoration-color: #ffffff;
}

.menu-icon {
    filter: invert(1);

    min-width: 30px;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
}

.nav-menu {
    min-width: 500px;
    display: flex;
    justify-content: ;
}

.nav-menu button {
    font-family: 'Open Sans', 'Roboto', 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-right: 50px;
}

.nav-menu button:hover {
    color: #b08d57;
}

.content {
    display: grid;
    grid-template-rows: 4fr 1fr;

}

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
}

.hero-image {
    display: block;
    position: relative;

    width: 100%;
    height: auto;
    border-radius: 5px;

    z-index: 2;

}

.image-wrapper {
    position: relative;
    display: inline-block;

    width: 100%;
    max-width: 50%;
    height: auto;

    margin-top: 30px;
    margin-right: 50px;
}

.text-box {
    position: absolute;
    box-sizing: border-box;
    top: 10vh;
    left: -30vw;

    padding: 20px;
    
    width: 120%;
    height: 100%;

    color: rgb(255, 255, 255);
    font-size: 2rem;
    background-color: rgb(163, 142, 20);
    border-radius: 5px;
    z-index: 1;

    box-shadow: 10vw 10vh 0 rgb(255, 255, 255, 0.1);

}

.text-box :nth-child(1) {
    margin-top: 50px;
    color: #d6cece;
    font-size: 2rem;
    font-weight: 100;
}

.text-box :nth-child(2) {
    margin-top: 10px;
    margin-left: -15vh;
    font-size: 5.2rem;
    transform: scaleY(1.2);
    text-shadow: 6px 6px 0 rgb(163, 142, 20);
    z-index: 5;
}

.text-box :last-child {
    color: #d6cece;
    margin-top: 20px;
    font-size: 1.5rem;
    max-width: 40ch;
}

.arrow-left {
    width: 60px;
    filter: invert(1);
    margin-right: auto;
    margin-left: 20px;
    align-self: center;
}

.arrow-right {
    width: 60px;
    filter: invert(1);
    margin-right: 20px;
    align-self: center;
}

.arrow-right:hover, 
.arrow-left:hover, 
.menu-icon:hover {
    filter: invert(100%) sepia(80%) saturate(1500%) hue-rotate(10deg) brightness(90%);
}